@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: var(--darker);
}
:root {
  --darker: #2e3440;
  --dark: #3b4252;
  --lighter: #434c5e;
  --light: #4c566a;
  --font: #fff;
  --start-button-color: rgb(0, 119, 255);
  --check-answer-button: rgb(92, 99, 134);
  --progress-bar-color: rgb(99, 99, 121);
  --correct-color: rgb(208, 255, 218);
  --correct-font: darkgreen;
  --incorrect-color: rgb(253, 212, 212);
  --incorrect-font: red;
  --active-option-button: rgb(58, 58, 83);
}
.start-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darker);
  color: var(--font);
  z-index: 100;
}
.quiz-control {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 60%;
  height: auto;
  background-color: var(--dark);
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
.quiz-control h1 {
  text-align: center;
  padding: 10px;
  background-color: var(--lighter);
  font-size: 50px;
  border-radius: 10px;
  box-sizing: border-box;
}
.quiz-control select {
  font-size: 25px;
  background-color: var(--lighter);
  color: var(--font);
  outline: 0;
  border: 0;
  border-radius: 20px;
  padding: 20px 10px;
  width: 100%;
}
.quiz-control button {
  color: var(--font);
  background-color: var(--start-button-color);
  outline: 0;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
  opacity: 0.6;
  transition-duration: 0.3s;
}
.quiz-control button:hover {
  opacity: 0.8;
}
.quiz-control button:active {
  opacity: 1;
}
.quiz-container {
  position: relative;
  margin: 10% auto;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dark);
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
.progress-bar {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--progress-bar-color);
  transition: width 0.3s ease, background-color 1s ease; /* Combine transitions */
}
.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 30px;
  color: var(--font);
  text-align: center;
}
.question-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.span-strings {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  transition-duration: 0.2s;
}
#questionCounter {
  width: 40px;
  max-width: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--darker);
}
#timer {
  width: 40px;
  max-width: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--darker);
}
.option-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.option-buttons button {
  font-size: 20px;
  color: var(--font);
  outline: 0;
  border: 0;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: rgb(35, 35, 71);
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.2s;
}
.option-buttons button:hover {
  box-shadow: 0 0 0 3px var(--darker);
}
.option-buttons button:active {
  box-shadow: 0 0 0 0 rgb(35, 43, 61);
}
.option-buttons button.active {
  background-color: rgb(27, 27, 46);
  box-shadow: 0 0 0 5px rgb(27, 27, 46);
}
.top-bar button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 25px;
  background-color: var(--darker);
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 50%;
  opacity: 0.7;
  cursor: pointer;
  transition-duration: 0.3s;
}
.top-bar button:hover {
  opacity: 0.8;
}
.top-bar button:active {
  opacity: 1;
}
.user-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.user-answer input {
  font-size: 20px;
  border-radius: 20px;
  width: 100%;
  padding: 20px 10px;
  background-color: var(--darker);
  color: var(--font);
  border: 0;
  outline: 0;
  opacity: 0.8;
  text-align: center;
  box-sizing: border-box;
  transition-duration: 0.2s;
}
.user-answer input:active {
  opacity: 1;
  box-shadow: 0 0 0 3px rgb(27, 27, 51);
}
#navButton {
  font-size: 20px;
  color: var(--font);
  outline: 0;
  border: 0;
  border-radius: 20px;
  padding: 20px 10px;
  background-color: rgb(35, 35, 71);
  opacity: 0.8;
  width: 100%;
  cursor: pointer;
  transition-duration: 0.2s;
}

#navButton:hover {
  box-shadow: 0 0 0 3px var(--darker);
}
#navButton:active {
  opacity: 1;
  box-shadow: 0 0 0 5px rgb(35, 43, 61);
}
.end-screen {
  position: relative;
  margin: 10% auto;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--dark);
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  color: var(--font);
}
.end-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.end-screen h1 {
  text-align: center;
  padding: 10px;
  background-color: var(--lighter);
  font-size: 50px;
  border-radius: 10px;
  color: var(--font);
  box-sizing: border-box;
}
#timetaken {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  max-width: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--darker);
}
#questionsAnswered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  max-width: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--darker);
}
#correctAnswers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 40px;
  max-width: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--correct-color);
  color: var(--correct-font);
  cursor: pointer;
}
#incorrectAnswers {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 40px;
  max-width: 60px;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--incorrect-color);
  color: var(--incorrect-font);
  cursor: pointer;
}
.end-screen-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.end-screen-buttons button {
  color: var(--font);
  background-color: var(--start-button-color);
  outline: 0;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
  opacity: 0.6;
  transition-duration: 0.3s;
}
.end-screen-buttons button:hover {
  opacity: 0.8;
}
.end-screen-buttons button:active {
  opacity: 1;
}
